body{
    display: flex;
         align-items: center;
         flex-direction: row;
         justify-content: center;
         font-family: sans-serif;
 }
  form{
         display: flex;
         text-align: center;
         flex-direction: column;
         justify-content: center;
         width:30%;
         
     }
 .log-in{
     font-size: 22px;
     color:black;
     font-style:normal;
     margin: 1%;
 }
 .Sub-button{
     background-color: 	rgb(0,255,0);
     border: 1;
     margin-top: 2%;
     padding:1px  ;
     cursor: pointer;
     font-size: 22px
     
 }
 
 .container{
    text-align: center;
    
 }
a{
    font-size: 14px;
    color: #186CA3;
    text-decoration: none;
}
h5{
    color:blue;
}